page-project-view {

  .image {
    position: relative;
    width: 100%; /* for IE 6 */
    height: 250px;
  }

  .image-container {
    min-height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
  }

}
