<!--
  Generated template for the ProjectViewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>{{project.title}}</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>

    <div class="image">
        <img style="display:block; object-fit: cover; width:100%; height: 300px;"
             src="{{'http://' + ip + '/' + project.image}}"/>
    </div>
    <br>
    <br>
    <h1>{{project.title}}</h1>
    <h3>{{project.description}}</h3>


    <p><i>{{project.contributors.length}} contributor<span *ngIf="project.contributors.length > 2">s</span></i></p>
    <p><i>{{project.branches.length}} branch<span *ngIf="project.contributors.length > 2">es</span></i></p>

    <button ion-button round (click)="viewTree()">View project tree</button>

    <h2>Branches</h2>
    <hr>

    <ion-list>
            <ion-item *ngFor="let b of project.branches">
                <h2>{{b.title}}</h2>
                <div item-content>
                    <button ion-button (click)="openVideoView(b._key)">View</button>
                    <button ion-button color="danger" (click)="contrib(b._key)">Contribute</button>
                </div>
            </ion-item>

    </ion-list>

    <br>

    <h2>Contributors</h2>

    <ion-list>
        <ion-item *ngFor="let c of project.contributors">
            <ion-avatar item-start>
                <img src="{{'http://' + ip + '/videos/default-profile-picture-5.jpg'}}">
            </ion-avatar>
            <h2>{{c.username}}</h2>
            <h3>{{c.email}}</h3>
            <div item-content>
                <button (click)="viewProfile(c)" ion-button>View profile</button>
            </div>
        </ion-item>
    </ion-list>

</ion-content>
